#productsImg:hover {
  cursor: grabbing;
}

#productTitle {
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 500;
}

#productText {
  color: var(--light-color);
  font-size: 0.8rem;
}

.priceText {
  display: block;
}

#priceOffer {
  color: var(--main-color);
  font-size: 1.4rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

#priceOriginal {
  color: var(--light-color);
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  text-decoration: line-through var(--light-color);
}

#discount {
  color: var(--text-color);
  background: var(--price-color);
  letter-spacing: -0.06px;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.3333333333;
  padding: 2px 4px;
}

#priceOffer,
#priceOriginal,
#discount {
  display: inline-block;
}

#priceOffer,
#priceOriginal {
  letter-spacing: 1px;
}

#favHover i {
  text-decoration: none;
  transition: 0.3s ease;
  transform: scale(1.5);
  color: var(--orange-color);
}

#favHover:hover i {
  cursor: pointer;
  color: var(--main-color);
  transform: scale(1.2);
}

#favHover,
#iconHover {
  @media screen and (max-width: 470px) {
    display: none;
  }
}
