@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
}

:root {
  --main-color: #1f242d;
  --second-color: #323946;
  --text-color: #fff;
  --light-color: #4d4d4d;
  --thin-color: #bebebe;
  --light-black: #222222;
  --black: #000000;
  --price-color: #03753cc7;
  --orange-color: rgb(255, 106, 0);
  --red-color: #d90000;
  --link-color: #007185;
  --link-hover-color: rgb(225, 109, 0);
}

span {
  color: var(--light-color) !important;
  font-size: 1rem !important;
}

#button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid var(--second-color);
  border-radius: 6rem;
  font-size: 0.9rem;
  color: var(--second-color);
  letter-spacing: 0.1rem;
  font-weight: 500;
  transition: 0.5s ease;
  @media screen and (max-width: 470px) {
    padding: 0.5rem 1.5rem;
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    padding: 0.5rem 1.5rem;
  }
  @media (min-width: 1400px) {
    padding: 0.6rem 2.5rem;
  }
}
#button:hover {
  background: var(--main-color);
  color: var(--text-color);
}

a,
a:link,
a:visited,
#aLink {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
}

#aLink:hover {
  color: var(--link-hover-color);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
}

#iconHover i {
  text-decoration: none;
  color: var(--second-color);
  transform: scale(1.5);
  transition: all 0.3s linear;
}

#iconHover:hover i {
  color: var(--orange-color);
  cursor: pointer;
  transform: scale(1.2);
}
